.title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}
.Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   border: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.container {
  display: grid;
  gap: 20px;
}

.Lscanned {
  border: 2px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
}
.Pfound {
  border: 2px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
}